body {
    background-color: #2d3030;
}

div.home {
    color: #35778f;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

nav {
    background-color: #3b4040;
    padding: 10px;
    text-align: center;
}

nav p {
    text-align: center;
    color: #ffffff;
    background-color: #35778f;
    transition: 1.5s;
    padding: 5px;
    margin: 6px;
    border-radius: 100px;
}

nav p a {
    text-decoration: none;

}

nav p:hover {
    border-radius: 0px;
    background-color: #000000;
    color: #ffffff;
}

@media (min-width: 700px) {
    nav {
        display: flex;
        flex-direction: row;
        background-color: black;
        justify-content: space-between;
    }
}